$maincolor :#666;

.nav{
    display: flex;
    justify-content: space-between;
    & a{
        color:$maincolor;
        text-decoration: none;
        &.active{
            color: red;
        }
    }
}